body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
    margin-left: 1em;
}

.header h1 a {
    text-decoration: none;
}

.header ul {
    list-style: none;
    padding: 0;
}

.header ul li {
    display: inline;
    margin-left: .5em;
}

.header ul li form {
    display: inline;
}

.header ul li form input[type=submit] {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.header ul a {
    text-decoration: none;
    padding: .5em;
}

.header ul li.active a {
    color: #fff;
    background: #0088e4;
}

.content {
    padding: .5em 1em;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 1em;
    margin-top: 1em;
}

.form-group {
    margin-bottom: .5em;
}

.form-group.has-error .form-control {
    border-color: #c55;
}

.form-group.required label:after {
    content:" *";
    color: #c55;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
